<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>

        <h1>Thank you! You have been signed up to the event!</h1>
        
        <p th:if="${admin}">You are admin</p>
        
        <h2>List of signups</h2>

        <ul>
            <li th:each="signup : ${signups}">
                <!-- using dangerous unescaped text -->
                <span th:utext="${signup.name}">name</span>
                <!-- hiding address with css means that it can be seen with developer tools -->
                <span th:style="${admin} ? 'display:block' : 'display:none'" th:utext="${signup.address}">address</span>
                <!-- this th:if should be used when hiding elements -->
                <form th:if="${admin}" th:action="@{/signups/{id}(id=${signup.id})}" th:method="DELETE">
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        </ul>
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>

    </body>
</html>
